@import url("header.css");
@import url("form.css");
@import url("card.css");
@import url("modal.css");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: 3rem auto;
}

@media (min-width: 480px) {
    .botao {
        width: 22rem;
    }
    form {
        width: 28rem;
    }
    #card-container {
        width: 30rem;
    }
    .modal-content {
        width: 25rem;
    }
}

@media (min-width: 768px) {
    .botao {
        width: 25rem;
    }
    form {
        width: 30rem;
    }
    #card-container {
        width: 30rem;
    }
    .modal-content {
        width: 25rem;
    }
}

@media (min-width: 1280px) {
    .navbar {
        font-size: 1.3rem;
    }
    .botao {
        width: 35rem;
    }
    form {
        width: 40rem;
        font-size: 1.3rem;
    }
    form h1 {
        font-size: 2rem;
    }
    form > input {
        font-size: 1.3rem;
    }
    select {
        font-size: 1.3rem;
    }
    .modal-content {
        width: 35rem;
    }
}