form {
    display: flex;
    flex-direction: column;
    background-color:honeydew;
    width: 20rem;
    margin: 0.5rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px skyblue;
}

input {
    border: 1px solid black;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    padding: 0.8rem;
    font-size: 1.0rem;
}

form h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: black;
    font-size: 1.8rem;
    text-shadow: 0 0 2px skyblue
}

form textarea {
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    resize: none;
    padding: 0.8rem;
}

.botao {
    background-color: white;
    font-size: 1.2rem;
    width: 15rem;
    align-self: center;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    border: 2px solid;
    border-radius: 0.2rem;
    padding: 0.8rem;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: skyblue;
    letter-spacing: 0.1rem;
    border: 5px solid skyblue;
    cursor: pointer;
}

.botao[type="reset"] {
    margin-top: 0.2rem;
    background-color: white;
    color: skyblue;
    border: 5px solid;
}